<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/modalStyle.css">
    <link rel="icon" href="/images/logo.svg" type="image/x-icon">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>

<button class="trigger" id="openModal">Open Modal</button>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/nmodal.js"></script>
<script src="/scripts/validation.js"></script>


</body>
</html>
