<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/modalStyle.css">
    <link rel="icon" href="/images/logo.svg" type="image/x-icon">
<!--    <script src="/hystmodal.js"></script>-->

</head>
<body>
<button class="trigger">Open Modal</button>

<div class="modalBackground">
    <div class="modalActive">
        <div class="modalClose">
            <img th:src="@{/images/modalCross.svg}" />
        </div>
        <div class="modalContent">
        <form th:action="@{/tickets/insert}"  method="post" th:object="${ticket}">
                <label for="id">Id:
                    <input id="id" type="number" name="id" th:value="*{id}">
                </label><br>
                <label for="name">Name:
                    <input id="name" type="text" name="name" th:value="*{name}">
                </label><br>
                <label for="creationDate">Creation Date:
                    <input id="creationDate" type="date" name="creationDate" th:value="*{creationDate}">
                </label><br>
                <coord> Coordinates<br>
                    <label for="x">x:</label>
                    <input id="x" type="number" name="coordinates.x" th:value="${ticket.coordinates.x}">
                    <label for="y">y:</label>
                    <input id="y" type="number" name="coordinates.y" th:value="${ticket.coordinates.y}">
                </coord><br>
                <label for="price">Price:
                    <input id="price" type="number" name="price" th:value="*{price}">
                </label><br>
                <label for="discount">Discount:
                    <input id="discount" type="number" name="discount" th:value="*{discount}">
                </label><br>
                <label for="refundable">Refundable:</label>
                <select id="refundable" name="refundable" th:field="*{refundable}">
                    <option value="true">True</option>
                    <option value="false">False</option>
                    <option value="" selected>Not specified</option> <!-- Опция для незаполненного значения -->
                </select><br>
                <label for="ticketType">ticketType:</label>
                <select id="ticketType" name="ticketType" th:field="*{ticketType}">
                    <option value="VIP">VIP</option>
                    <option value="USUAL">USUAL</option>
                    <option value="BUDGETARY">BUDGETARY</option> <!-- Опция для незаполненного значения -->
                </select><br>
                <venue>
                    Venue<br>
                    <label for="venueName">name:
                        <input id="venueName" type="text" name="venue.name" th:value="*{venue.name}">
                    </label><br>
                    <label for="venueCapacity">capacity:
                        <input id="venueCapacity" type="number" name="venue.capacity" th:value="*{venue.capacity}">
                    </label><br>
                    <label for="venueType">venueType:        </label>
                    <select id="venueType" name="venueType" th:field="*{venue.venueType}">
                        <option value="BAR">BAR</option>
                        <option value="THEATRE">THEATRE</option>
                        <option value="CINEMA">CINEMA</option>
                        <option value="STADIUM">STADIUM</option>
                        <option value="" selected>Not specified</option> <!-- Опция для незаполненного значения -->
                        <!-- Опция для незаполненного значения -->
                    </select><br>
                </venue>
                <button type="submit">Insert</button>
            </form>
            <div class="modalContent">

            </div>
        <div class="modalWindow"></div>
    </div>
</div>




<script src="/scripts/nmodal.js"></script>

</body>


</html>
