<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Redirect</title>
    <link rel="icon" href="/images/logo.svg" type="image/x-icon">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.createElement('form');
            form.method = 'POST';
            const urlParams = new URLSearchParams(window.location.search);
            form.action = `/insert?${urlParams}`;


            // Заполнение формы данными из JSON

            document.body.appendChild(form);
            form.submit();
        });
    </script>
</head>
<body>
<!--<script src="/scripts/validation.js"></script>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</body>
</html>
