<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link rel="icon" href="/images/logo.svg" type="image/x-icon">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<table>
    <thead>
    <tr>
        <td rowspan="2">Id</td>
        <td rowspan="2">Название</td>
        <td colspan="2">Координаты</td>
        <td rowspan="2">Цена</td>
        <td rowspan="2">Скидка</td>
        <td rowspan="2">Возможность возврата</td>
        <td rowspan="2">Тип билета</td>
        <td colspan="3">Место встречи</td>
        <td rowspan="2">Создан</td>
    </tr>
    <tr>
        <td>x</td>
        <td>y</td>
        <td>Название</td>
        <td>Вместимость</td>
        <td>Тип места встречи</td>
    </tr>
    </thead>
    <tbody>
    <div th:each="ticket : ${tickets}">
        <tr>
            <td th:text="${ticket.id}">Id</td>
            <td th:text="${ticket.name}">Name</td>
            <td th:text="${ticket.coordinates.x}">Coordinate x</td>
            <td th:text="${ticket.coordinates.y}">Coordinate y</td>
            <td th:text="${ticket.price}">Price</td>
            <td th:text="${ticket.discount}">Discount</td>
            <td th:text="${ticket.refundable}">Refundable</td>
            <td th:text="${ticket.ticketType}">TicketType</td>
            <td th:text="${ticket.venue.name}">Venue name</td>
            <td th:text="${ticket.venue.capacity}">Venue capacity</td>
            <td th:text="${ticket.venue.venueType}">Venue venueType</td>
            <td th:text="${ticket.createdBy}">createdBy</td>
        </tr>
    </div>
    </tbody>


</table>
<div class="pagination-buttons">
    <div th:each="number : ${range}">
        <button type="button"
                th:text="${number}"
                th:attr="name='page' + ${number}, data-page=${number}"
                class="page-button">
            <!-- Кнопка для каждой страницы -->
        </button>
    </div>
</div>
<form th:action="@{/tickets/insert}"  method="get">
    <button type="submit">Insert</button>
</form>
<!--<input type="hidden" id="currentPage" th:value="${page}">-->
<script src="/scripts/tickets.js"></script>

</body>
</html>
