<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link rel="icon" href="/images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/modalStyle.css">
<script src="/scripts/sorting.js"></script>


</head>
<body>
<div th:insert="~{fragment :: header}"></div><br>
<button class="trigger" data-modal-id="filterModal">Filter</button><br>
<div th:insert="~{/ticket/filterForm :: filter}"></div><br>

<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <button class="trigger" id="insertButton" data-modal-id="insertModal">Insert</button>
        <button id="trigger2">Trigger 2</button>
        <button id="trigger3">Trigger 3</button>
    </div>
</div>



            <div th:insert="~{/ticket/insertForm :: insert}"></div><br>


<table id="ticketTable">
    <thead>
    <tr>
        <td rowspan="2" id="id">Id </td>
        <td rowspan="2" id="name">Название </td>
        <td colspan="2">Координаты</td>
        <td rowspan="2" id="price">Цена </td>
        <td rowspan="2" id="discount">Скидка </td>
        <td rowspan="2" id="refundable">Возможность возврата </td>
        <td rowspan="2" id="ticket-type">Тип билета </td>
        <td colspan="3" >Место встречи</td>
        <td rowspan="2" id="created-by">Создан </td>
    </tr>
    <tr>
        <td id="coordinate-x">x </td>
        <td id="coordinate-y">y </td>
        <td id="venue-name">Название </td>
        <td id="venue-capacity">Вместимость </td>
        <td id="venue-type">Тип места встречи</td>
    </tr>
    </thead>
    <tbody>
    <div th:each="ticket : ${tickets}">
        <tr>
            <td th:text="${ticket.id}">Id</td>
            <td th:text="${ticket.name}">Name</td>
            <td th:text="${ticket.coordinates.x}">Coordinate x</td>
            <td th:text="${ticket.coordinates.y}">Coordinate y</td>
            <td th:text="${ticket.price}">Price</td>
            <td th:text="${ticket.discount}">Discount</td>
            <td th:text="${ticket.refundable}">Refundable</td>
            <td th:text="${ticket.ticketType}">TicketType</td>
            <td th:text="${ticket.venue.name}">Venue name</td>
            <td th:text="${ticket.venue.capacity}">Venue capacity</td>
            <td th:text="${ticket.venue.venueType}">Venue venueType</td>
            <td th:text="${ticket.createdBy}">createdBy</td>
        </tr>
    </div>
    </tbody>


</table>
<div class="pagination-buttons">
    <div th:each="number : ${range}">
        <button type="button"
                th:text="${number}"
                th:attr="name='page' + ${number}, data-page=${number}"
                class="page-button">
            <!-- Кнопка для каждой страницы -->
        </button>
    </div>
</div>
<form th:action="@{/tickets/insert}"  method="get">
    <button type="submit">Insert</button>
</form>

<!--<input type="hidden" id="currentPage" th:value="${page}">-->
<script src="/scripts/tickets.js"></script>
<script src="/scripts/nmodal.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/validation.js"></script>


</body>
</html>