.modalContent form {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modalContent form label {
    display: block;
    margin-bottom: 10px;
}

.modalContent form input[type="text"],
.modalContent form input[type="number"],
.modalContent form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.modalContent form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modalContent form button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-highlight input,
.error-highlight select {
    border: 1px solid red !important; /* Устанавливает красную рамку для полей */
}
.error-message {
    color: red; /* Устанавливаем красный цвет для сообщений об ошибке */
}
.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}
.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 0px 0px;
    overflow-y: auto; /* Добавляем прокрутку по вертикали, если содержимое выходит за пределы */

}
/* кнопочка закрытия модального окна */
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}
.modalWindow {
    position: relative;
}
.modal-trigger {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-trigger:focus {
    outline: none;
}
